.footer__wrap{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.call-us,
.quick__find{
	width: 50%;
	display: inline-block;
	flex: auto;
	vertical-align: middle;
	margin: 0;
}
.call-us{
	border-right: 2px dotted #fff;
	p{
		b,
		span{
			font-family: $secondaryFont;
			display: block;
		}
		b{
			font-size: em(28);
			font-weight: 400;
			line-height: 1.5em;
			text-transform: uppercase;
		}
		span{
			font-size: em(14);
			text-transform: uppercase;
		}
	}
}
.quick__find{
	p,
	div,
	a{
		font-family: $secondaryFont;
		display: inline;
	}
	p,
	div{
		font-size: em(28);
	}
	div{
		color: #2b2b2b;
		border-bottom: 2px dotted #fff;
		margin-left: 10px;
	}
}
.button--qf{
	background-color: #000 !important;
	padding: 10px 25px;
	margin-left: 20px;
	text-decoration: none;
}